@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root{
  --primary-color: #B5C18E;
  --secondary-color: #F7DCB9;
  --tertiary-color: #DEAC80;
  --quaternary-color: #B99470;
  --white: #dadada;
  --black: #2c2c2c;
}

body{
  color: var(--white);
  padding: 0;
  margin: 0;
  font-family: 'Poppins', sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  background-attachment: fixed;
}

#app{
  display: flex;
  flex-direction: column;
  margin: calc(10vh / 2) 0;
  width: 33vw;
}

h1, h2, h3{
  margin: 0;
  padding: 0;
}

@media screen and (max-width: 768px) {
  #app {
    width: 90%;
  }
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
  #app {
    width: 80%;
  }
}
